.fondo{
    background-image: url(../img/fondo5.jpg) ; 
    background-size: 100% 100%;
    height: 100%;
    background-repeat: no-repeat;

    background-attachment: fixed;
    opacity: 0, 3;
    position: under;
}
.contenedor{
    position: relative;
    max-width: 1100;
    max-height: 500;
    margin-left: 15%;
    margin-right: 12%;
    background-color: white;
}

.herrramientas{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    margin-left: 40%;
    margin-right: 35%;
    min-height: 60px;
    max-width: 335px;
    margin-bottom: 1%;
    background-color: teal;
    border-radius: 12px;
    padding: 3px;
}
.ocultar{
    display: none;
}
.herramientasFuncion{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
.boton{
    background-color: teal;
    margin: 3;
    border: none;
}
.boton, button:hover{
    color: white;
    cursor: pointer;
}
.icono{
    padding: 5px;
    font-size: xx-large;
    background-color: teal;
}
.btnFiltro{
    font-size: 130%;
}
.inputImg{
    color: transparent;
    max-width: 350px;
    display: inline-block;
}
