
.contenedor{
    position: relative;
    margin: 0;
    margin-left: 200px;
    margin-right: 150px;
    border: solid black;
}
.encabezado{
    display: flex;
    flex-direction: row;
    align-items: initial;
    margin: 0;
    margin-left: 200px;
    margin-right: 150px;
    min-height: 60px;
    max-width: 800px;
    background-color: rgb(231, 227, 227);
}
